{% extends '::frontend.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="midle-text"><h1>Welcome to Dentoleti v1.0</h1></div>
    <div id="login-box">
        {% include 'DentoletiGeneralBundle:Default:login.html.twig' %}
    </div>
{% endblock %}