/**
 * CSS general para el frontend
 */

* {
	list-style:none;
	text-decoration:none;
	margin:0;
	padding:0;
}

header,
footer,
aside,
nav,
article {
	display: block;
}

header {
	padding: 2%;
}

footer {
	clear: both;
	text-align: center;
	padding: 2%;
}